<div class="card">
    <div class="card-body">
        <div class="mt-1">
            <label>Magasin</label>
            <select class="form-control form-control-sm" [(ngModel)]="idMagasin" *ngIf="magasins" (change)="change()">
                <option *ngFor="let item of magasins" [value]="item.id">{{item.nommagasin}}</option>
            </select>      
        </div>
        <div class="mt-2">
            <label>Code (au moins {{MIN_CODE_LENGTH}} caractères)</label>
            <input class="form-control form-control-sm" [(ngModel)]="code" (change)="change()"/>
        </div>

        <div class="text-right mt-2" *ngIf="idMagasin && code">
            <button class="btn btn-sm btn-primary" (click)="change()">
                Valider
            </button>
        </div>
    </div>    
</div>