
<div class="container-fluid">
    <!-- start page title -->
    <app-page-title [title]="title">
    </app-page-title>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="search-box me-2 mb-2">
                        <div class="position-relative">
                        <input
                            type="text"
                            class="form-control"
                            placeholder="Rechercher"
                            [(ngModel)]="motSearch"
                            (ngModelChange)="search()"
                        />
                        <i
                            class="bx bx-search-alt search-icon"
                            type="button"
                            (click)="search()"
                        ></i>
                        </div>
                    </div>
                    <div class="col-md-12 mt-2">
                        <div class="dataTables_info mb-2" id="tickets-table_info" role="status" aria-live="polite">
                            {{ count }} expédition(s) trouvée(s)
                        </div>
                    </div>

                    <app-list-shipment [acces]="acces" [list]="list" [page]="page" [count]="count" [pageSize]="pageSize" (onChangeItem)="refreshData()">

                    </app-list-shipment>

                    <div *ngIf="list&&list.length" class="row justify-content-md-between align-items-md-center mt-2">
                        <!-- Pagination -->
                        <div class="col-sm-12 col-md-5">
                            <div class="text-md-right float-md-end pagination-rounded">
                                <pagination-controls
                                previousLabel=""
                                nextLabel=""
                                [responsive]="true"
                                (pageChange)="handlePageChange($event)"
                                screenReaderPaginationLabel="Pagination"
                                screenReaderPageLabel="page"
                                ></pagination-controls>
                            </div>
                        </div>
                        <!-- End Pagination -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<ngx-spinner type="ball-scale-multiple" [fullScreen]="true">
    <p style="color: white; text-align: center;">Veuillez patienter s'il vous plaît...</p> 
</ngx-spinner>
  