.box-container, .carton-container {
    border: 1px dashed #ccc;
    padding: 15px;
    margin: 10px 0px;
    border-radius: 4px;
    font-size: 12px;
    h3{
        font-size: 11pt;
        font-weight: bold;
    }
}
.toggle-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 14pt;
    float: inline-end;
}
.toggle-button:hover {
    color: #0056b3;
}
.content-item {
    overflow: hidden;
    padding: 3px;
    font-size: 11px;
}
