<div class="card" *ngIf="data">
    <div class="card-body">
        <h3>Tarifs magasins</h3>
        <p class="text-center mt-4 mb-4" *ngIf="!data.length">Aucun tarif magasin</p>
        <table class="table table-bordered table-sm" *ngIf="data.length">
            <thead class="table-secondary">
                <tr>
                    <th>Magasin</th>
                    <th>Prix de vente HT</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of data">
                    <td>{{item.magasin}}</td>
                    <td class="text-right">{{item.prixventeht | appcurrency}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <ngx-loading [show]="loading"></ngx-loading>
</div>