<!-- Template email mot de passe sodim -->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Mot de passe sodim</title>
    </head>
    <body>
        <h1>Mot de passe sodim</h1>
        <p>
            Voici votre mot de passe pour vous connecter dans sodim: <strong>{{motDePasse}}</strong>
        </p>
        {{#if codeClient}}
        <p>Pour vous connecter, utilisez ce code client <strong>{{codeClient}}</strong></p>
        {{else}}
        <p>L'email pour la connexion est cet email.</p>
        {{/if}}
        <p>Cordialement,</p>
    </body>
</html>
