ul{
    margin-top: 5px;
    list-style: none;
    padding: 0;
    margin-bottom: 0;
}
li:hover{
    background-color: #75A7EE;
}
li{
    padding: 3px;
    cursor: pointer;
    border-bottom: 1px #E8E8E8 solid;
}

.no-border{
    border: none;
}