    <div class="row">
        <div class="col-md-6">
            <table class="table table-sm">
                <tbody>
                    <tr>
                        <th>Product description</th>
                        <td>{{catalog.detailedProductDescription}}</td>
                    </tr>
                    <tr>
                        <th>Status flag</th>
                        <td>{{catalog.statusFlag}}</td>
                    </tr>
                    <tr>
                        <th>Style code</th>
                        <td>{{catalog.styleCode}}</td>
                    </tr>
                    <tr>
                        <th>Theme</th>
                        <td>{{catalog.theme}}</td>
                    </tr>
                    <tr>
                        <th>Collection</th>
                        <td>{{catalog.collection}}</td>
                    </tr>
                    <tr>
                        <th>Collection description</th>
                        <td>{{catalog.collectionDescription}}</td>
                    </tr>
                    <tr>
                        <th>Country origin code</th>
                        <td>{{catalog.countryOriginCode}}</td>
                    </tr>
                    <tr>
                        <th>Item code</th>
                        <td>{{catalog.itemCode}}</td>
                    </tr>
                    <tr>
                        <th>EAN code</th>
                        <td>{{catalog.eanCode}}</td>
                    </tr>
                    <tr>
                        <th>Color</th>
                        <td>{{catalog.color}}</td>
                    </tr>
                    <tr>
                        <th>Color description</th>
                        <td>{{catalog.colorDescription}}</td>
                    </tr>
                    <tr>
                        <th>Color basic description</th>
                        <td>{{catalog.colorBasicDescription}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="col-md-6">      
            <table class="table table-sm">
                <tbody>
                    <tr>
                        <th>Size</th>
                        <td>{{catalog.size}}</td>
                    </tr>
                    <tr>
                        <th>Size description</th>
                        <td>{{catalog.sizeDescription}}</td>
                    </tr>
                    <tr>
                        <th>Category code</th>
                        <td>{{catalog.categoryCode}}</td>
                    </tr>
                    <tr>
                        <th>Category description</th>
                        <td>{{catalog.categoryDescription}}</td>
                    </tr>
                    <tr>
                        <th>Story code</th>
                        <td>{{catalog.storyCode}}</td>
                    </tr>
                    <tr>
                        <th>Story description</th>
                        <td>{{catalog.storyDescription}}</td>
                    </tr>
                    <tr>
                        <th>Product type code</th>
                        <td>{{catalog.productTypeCode}}</td>
                    </tr>
                    <tr>
                        <th>Product type description</th>
                        <td>{{catalog.productTypeDescription}}</td>
                    </tr>
                    <tr>
                        <th>Init selling price</th>
                        <td>{{catalog.initSellingPrice | currency: catalog.currency}}</td>
                    </tr>
                    <tr>
                        <th>Gamme taille min</th>
                        <td>{{catalog.gammeTailleMin}}</td>
                    </tr>
                    <tr>
                        <th>Gamme taille max</th>
                        <td>{{catalog.gammeTailleMax}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>