<div
  class="d-flex flex-column flex-md-row justify-content-center gap-3 flex-wrap"
>
  <div
    class="row align-items-center p-3 bg-light shadow-sm rounded"
    style="width: 88%"
  >
    <div class="col-2 d-flex justify-content-center">
      <i class="bi bi-exclamation-triangle-fill fs-3 text-danger"></i>
    </div>

    <div class="col-6 text-start">
      <h6 class="card-title mb-2" style="font-size: 0.9rem">
        Total introuvables
      </h6>

      <button class="btn btn-danger btn-sm" (click)="showIntrouvables()">
        Voir détails >>
      </button>
    </div>

    <div class="col-4 d-flex justify-content-center">
      <p class="fw-bold mb-0 fs-3">{{ totalAbsent }}</p>
    </div>
  </div>

  <div
    class="row align-items-center p-3 bg-light shadow-sm rounded"
    style="width: 88%"
  >
    <div class="col-2 d-flex justify-content-center">
      <i class="bi bi-arrow-up-square-fill fs-3 text-warning"></i>
    </div>

    <div class="col-6 text-start">
      <h6 class="card-title mb-2" style="font-size: 0.9rem">Total surplus</h6>
      <button class="btn btn-warning btn-sm" (click)="showOverStock()">
        Voir détails >>
      </button>
    </div>

    <div class="col-4 d-flex justify-content-center">
      <p class="fw-bold mb-0 fs-3">{{ totalSurplusTotal }}</p>
    </div>
  </div>
</div>
