<div class="card bg-white shadow-sm text-center mx-auto">
  <div class="card-body p-3">

      <!-- Chart Apex -->
      <apx-chart #chart
        [series]="chartOptions.series"
        [chart]="chartOptions.chart"
        [plotOptions]="chartOptions.plotOptions"
        [fill]="chartOptions.fill"
        [labels]="chartOptions.labels">
      </apx-chart>

      <!-- Composant Surplus -->
      <app-surplus 
        [idinventaire]="idinventaire" 
        (surplusClick)="handleSurplus($event)"
        (introuvablesClick)="handleIntrouvables($event)">
      </app-surplus>

  </div>
</div>
