<div class="card">
    <div class="card-body">
        <h5>Tous les stocks</h5>

        <div class="mt-2 table-responsive">
            <p *ngIf="!data.length" class="text-center" style="margin: 30px 0;">
                Aucun stock
            </p>
            <table class="table table-sm table-bordered table-nowrap" *ngIf="data.length">
                <thead class="table-dark">
                    <tr>
                        <th>Quantité</th>
                        <th>Gamme</th>
                        <th>Dépôt</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of data">
                        <td class="text-right">{{item.quantite | number}}</td>
                        <td>{{item.gamme}}</td>
                        <td>{{item.depot}}</td>                        
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>