
<div class="container-fluid">
    <!-- start page title -->
    <app-page-title title="Paramétrer équivalence Carte VIP">
    </app-page-title>
    <div class="card">
      <div class="card-body">
        <div class="row">
            <div class="col-md-5 mx-auto" style="max-width: 200px!important;">
                <app-form-parametrage></app-form-parametrage>
            </div>

            <div class="col-md-12">
            </div>

            <div class="col-md-10 mt-4 mx-auto">
              <app-historiques-parametrage></app-historiques-parametrage>
            </div>
        </div>
      </div>
    </div>          
</div>



<ngx-spinner type="ball-scale-multiple" [fullScreen]="true">
  <p style="color: white; text-align: center;">Veuillez patienter s'il vous plaît...</p> 
</ngx-spinner>
