
<div class="container-fluid">
  <!-- start page title -->
  <app-page-title title="Modifier le mot de passe">
  </app-page-title>
  <div class="row" *ngIf="user">
      <div class="col-md-6 col-lg-6 mx-auto">
        <div class="card">
          <div class="card-body">
              <h4 *ngIf="!monProfil">Modifier le mot de passe de {{user.nom}}</h4>
              <h4 *ngIf="monProfil">Modifier mon mot de passe</h4>
              <form class="needs-validation" [formGroup]="formGroup" (ngSubmit)="validerPassword()">
                  <div class="row">
                    <div class="col-sm-10 mx-auto db-block">

                      <div class="mb-3">
                          <label class="control-label">Ancien mot de passe</label>
                          <div class="input-group auth-pass-inputgroup">
                            <input maxlength="50" type="{{typeInput[0]}}" class="form-control" [(ngModel)]="oldPassword" formControlName="oldPassword"
                            [ngClass]="{'is-invalid': submit && form.oldPassword.errors}"/>
                            <span class="btn btn-light ms-0" type="button" (click)="showPassword(0)" id="password-addon"><i
                              class="fas {{icon[0]}}"></i></span>
                            <div *ngIf="submit && form.oldPassword.errors" class="invalid-feedback">
                              <span *ngIf="form.oldPassword.errors.required">Veuillez remplir le champ "Ancien mot de passe"</span>
                            </div>  
                          </div>

                      </div>

                      <div class="mb-3">
                          <label class="control-label">Nouveau mot de passe</label>
                          <div class="input-group auth-pass-inputgroup">
                            <input maxlength="50" type="{{typeInput[1]}}" class="form-control" [(ngModel)]="newPassword" formControlName="newPassword"
                                [ngClass]="{'is-invalid': submit && form.newPassword.errors}"
                              />
                              <span class="btn btn-light ms-0" type="button" (click)="showPassword(1)" id="password-addon"><i
                                class="fas {{icon[1]}}"></i></span>
                          
                              <div *ngIf="submit && form.newPassword.errors" class="invalid-feedback">
                                <span *ngIf="form.newPassword.errors.required">Veuillez remplir le champ "Nouveau mot de passe"</span>
                                <span *ngIf="form.newPassword.errors.minlength">Le nouveau mot de passe doit comporter au moins 8 caractères</span>
                              </div>
  
                          </div>
                      </div>

                              
                      <div class="mb-3">
                        <label class="control-label">Confirmez le mot de passe</label>
                        <div class="input-group auth-pass-inputgroup">
                          <input maxlength="50" type="{{typeInput[2]}}" class="form-control" [(ngModel)]="confirmPassword" formControlName="confirmPassword"
                              [ngClass]="{'is-invalid': submit && (form.confirmPassword.errors || confirmPassword != newPassword) }"
                            />
                            <span class="btn btn-light ms-0" type="button" (click)="showPassword(2)" id="password-addon"><i
                              class="fas {{icon[2]}}"></i></span>
                        
                            <div *ngIf="submit && form.confirmPassword.errors" class="invalid-feedback m-0">
                              <span *ngIf="form.confirmPassword.errors.required">Veuillez remplir le mot de passe de confirmation</span>
                              <span *ngIf="form.confirmPassword.errors.minlength">Le mot de passe de confirmation doit comporter au moins 8 caractères</span>
                            </div>

                            <div *ngIf="submit && confirmPassword != newPassword " class="invalid-feedback m-0">
                                Les deux mots de passe doivent être les mêmes
                            </div>
                            
                        </div>
                    </div>

                      <div class="row" id="btn">
                          <button class="btn btn-success col-md-4 mx-auto">Enregistrer</button>
                      </div>
                    </div>
                  </div>
              </form>
          </div>
        </div>
      </div>
  </div>          
</div>
