<div class="card">
    <div class="card-body">
        <app-search-date titre="Période" (onChange)="changeDate($event)"></app-search-date>

        <div  *ngIf="magasins" class="mt-2">
            <label>Magasin</label>
            <select class="form-control form-control-sm" (change)="changeMagasin()" [(ngModel)]="idMagasin">
                <option *ngFor="let item of magasins" [value]="item.id">
                    {{item.nommagasin}}
                </option>
            </select>
        </div>
        
        <div  *ngIf="magasin" class="mt-2">
            <label>Caisse</label>
            <select class="form-control form-control-sm" [(ngModel)]="idCaisse">
                <option *ngFor="let item of magasin.caisses" [value]="item.id">
                    {{item.nocaisse}}
                </option>
            </select>
        </div>
        
        <div class="text-right mt-2 mb-0" *ngIf="filtreClient">
            <button class="btn btn-info btn-xs" (click)="setShowOption()" *ngIf="!showClient">Plus d'option</button>
            <button class="btn btn-info btn-xs"  (click)="setShowOption()" *ngIf="showClient">Moins d'option</button>
        </div>

        <div  *ngIf="showClient&&filtreClient" class="mt-0">
            <label>Client</label>
            <input class="form-control form-control-sm" [(ngModel)]="client">
        </div>

        <div class="mt-4 text-right" *ngIf="fin&&debut&&idCaisse">
            <button class="btn btn-primary" (click)="rechercher()">Afficher</button>
        </div>
  </div>
</div>