.col-sm-8{
    padding-bottom: 60px;
}
.avatar-md{
    margin-top: -40px;
    margin-left: 10%;
    margin-bottom: 15%!important;
}
.img-thumbnai{
    width: 85px!important;
}
.btn{
    width: 100%;
    max-width: 250px;
}
.mt-4{
    text-align: center;
}