
<div class="container-fluid">
    <app-page-title title="Consultation stocks">
    </app-page-title>
    <div class="row">
        <div class="col-md-6 mx-auto" style="max-width: 450px;">
            <app-form-consultation-stock (onChange)="refreshList($event)"></app-form-consultation-stock>
        </div>

        <div class="col-12 mt-2" *ngIf="list">
            <div class="card">
                <div class="card-body">
                    <app-list-consultation-stock (onExport)="exporter()" [list]="list"></app-list-consultation-stock>
                </div>
            </div>
        </div>
    </div>
</div>



<ngx-spinner type="ball-scale-multiple" [fullScreen]="true">
    <p style="color: white; text-align: center;">Veuillez patienter s'il vous plaît...</p> 
</ngx-spinner>
